/*Bar under main title*/
/*naviation tables to be horizontal*/
.navigationBar {
    display: block;
    width:100%;
    height:15%;
    float:left;    
    border-bottom:double;
    border-bottom-color:skyblue;
}
#mainList{
    width: 60%;
    float:none;
}
ul#navTabs li {
    list-style-type: none;
}

/*Navigation Tab class*/
a.tabs {
    float: left;
    width: 150px;
    text-decoration: none;
    font-size:30px;
    color: white;
    background-color: skyblue;
    padding: 10px 10px;
    border-right: 2px solid white;
}
a:hover {
    background-color: dimgray;
    color:aliceblue;
}

#userLoggedIn { 
    float:right;
    text-align: center;
    font-size: 20px;
    width:40%;
}

.button{
    background-color: slategray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    background-color: dimgray;
    color:aliceblue;
}

#floorPlan {
    position:relative;
    float:left;
    width: 100%;
}

#floorNameTabs{
    list-style-type: none;
}