/*Applied to whole document*/
body { 
    padding-bottom: 70px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}

/*Side bar items*/
.sidebar{
   background-color: #f8f8f8;
   border-right:10px solid skyblue;
    height: 100%;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-width: 280px;
    font-weight:700;
}
/*Logo*/
.sidebarLogo{
    width:270px;
    height:90px ;
    margin-bottom: 30px;
    margin-top:30px;
}
.userImages, .userImages>a {
    font-size:35px;
    padding-right:15px;
    text-align:center;
}

.user {
    font-size:35px;
    padding-right:15px;
    margin-left: 15px;
    text-align:center;
    color: white;
}

.userName{    
    color: white;
    background-color:#337ab7;
    padding: 7px 5px;
}

.userDetails{
    padding-bottom:10px;
    border-bottom: 5px groove  #337ab7;
    font-size:20px;
}

/*Menu items in side bar*/
.menuList {
    font-size: 20px;
    padding-bottom:10px;
    padding-top:10px;
    border-bottom: 5px groove  #337ab7;
}

/*Highlight currently selected menu item*/
.menuList>li.active>a{
    background-color: #337ab7;
    color:white;
    pointer-events: none;
    cursor: default;
    
}
/*Main area items*/
.mainAreaHeader{
    padding-bottom:10px;
    padding-top:10px;
}

#pageTitle{
   /*padding-top: 20px;*/
    color:#337ab7;
    padding-left:20px;
    font-size:70px;
}
/*Logo*/
.mainFrameLogo{
    width:300px;
    height:100px ;
}

.mainArea{
    min-height:100%;
    height:100%;
}

.roomSelection {
    padding-bottom:15px;
    margin-bottom:10px;
    padding-top:10px;
}

.roomItems>li>a{
    font-size: 40px;
    font:bold;
}

.roomItems>li>a>span>img{
    width: 200px;
    height:150px;
    padding-left: 10px;
    padding-right: 20px;
}

.floorNavigation{
    font-size:30px; 
    vertical-align:bottom;
}